<%= form_with url: '/flights', method: :get, local: true do |form| %>
  flights:
  <ul>
    <li>
      <%= form.select :departure_airport_id, options_for_select(@airports.collect { |u| [u.airport_code, u.id] }) %>
    </li>
    <li>
      <%= form.select :arrival_airport_id, options_for_select(@airports.collect { |d| [d.airport_code, d.id] }) %>
    </li>
    <li>
      <%= form.select :num_passengers, (1..10).to_a.map { |n| [pluralize(n, 'Passenger'), n] }, prompt: "Select Number of Passengers" %>
    </li>
    <li>
      <%= form.date_field :start, min: Date.tomorrow %>
    </li>
    <li>
      <%= form.submit "SEARCH Flights" %>
    </li>
  </ul>
<% end %>
  
  <%= form_with url: new_booking_path, method: :get, local: true do |form| %>
    <%= form.hidden_field :num_passengers, value: params[:num_passengers] %>

    <ul>
      <%= form.collection_radio_buttons :flight_id, @flights, :id, :departure_airport_id do |button| %>

        <li>
          <%= button.radio_button %>
          <%= button.text %>
          - Departure: <%= button.object.departure_airport.airport_code %>
          - Arrival: <%= button.object.arrival_airport.airport_code %>
          - Start Time: <%= button.object.start.strftime("%m/%d/%Y %I:%M %p")%>
        </li>
      <% end %>
        <li>
          <%= form.submit "SELECT Flights" %>
        </li>
    </ul>
  <% end %>

  <%= form_with url: bookings_path, method: :get, local: true do |form| %>
    <% if @flight_id.present? %> 
      <%= @flights.id %>
      <%= @flights.departure_airport.airport_code %>
      <%= @flights.arrival_airport.airport_code %>
      <%= @flights.start.strftime("%m/%d/%Y %I:%M %p") %>
        <%= params[:num_passengers].times do |passenger| %>
          <%= passenger.fields_for :passengers, @booking.passengers[passenger] do |passenger_form| %>
            <div>
              <%= passenger_form.label :name, "Passenger Name" %>
              <%= passenger_form.text_field :name %>
            </div>

            <div>
              <%= passenger_form.label :email, "Passenger Email" %>
              <%= passenger_form.email_field :email %>
            </div>

          <% end %>
        <% end %>
      <%= form.submit "Create Booking" %>
    <% end%>
  <% end %>




<%# <%= select_tag(:start, options_for_select(@flight_options)) %>
<%# <%= form.select :departure_airport_id, Airport.order(:airport_code).map { |airport| [airport.airport_code] } %>
<%# <%= form.collection_radio_buttons :flight_id, @flights, :id, :departure_airport_id %>
<%# <%= form.date_select :start, prompt: { year: 'Select year', month: 'Select month', day: 'Select day' } %>
<%# <%= select_tag "flight_date", options_from_collection_for_select(Flight.start_formatted, 'flight_date', :start_formatted)> %>