<%= form_with model: @booking, url: bookings_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :flight_id, value: params[:flight_id] %>
    <% if @flight_id.present? %> 
        <%= params[:flight_id] %>
        <%= @flights.departure_airport.airport_code %>
        <%= @flights.arrival_airport.airport_code %>
        <%= @flights.start.strftime("%m/%d/%Y %I:%M %p") %>
        <% @num_passengers.to_i.times do |i| %>
          <%= fields_for :passengers do |passenger_form| %> 
          <div>
            <h3>Passenger <%= i + 1 %></h3>
            <div>
              <%= passenger_form.label :name, "Passenger Name" %>
              <%= passenger_form.text_field :name %>
            </div>

            <div>
              <%= passenger_form.label :email, "Passenger Email" %>
              <%= passenger_form.text_field :email %> 
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
  <%= form.submit "Create Booking" %>
<% end %>