<%= form_with model: @booking, url: bookings_path, method: :post, local: true do |form| %>
  <%= form.hidden_field :flight_id, value: params[:flight_id] %>
    <% if @flight.present? %> 
        <%= params[:flight_id] %>
        <%= @flight.departure_airport.airport_code %>
        <%= @flight.arrival_airport.airport_code %>
        <%= @flight.start.strftime("%m/%d/%Y %I:%M %p") %>
          <%= form.fields_for :passengers, @booking.passengers do |passenger_form| %> 
          <div>
            <div>
              <%= passenger_form.label :name, "Passenger Name" %>
              <%= passenger_form.text_field :name %>
            </div>

            <div>
              <%= passenger_form.label :email, "Passenger Email" %>
              <%= passenger_form.text_field :email %> 
            </div>
          </div>
        <% end %>
      <% end %>
  <%= form.submit "Create Booking" %>
<% end %>